
@{
    ViewBag.Title = "user";
}

<h2>user</h2>

<container class="Bruger-wrapper">
    <content class="row">
        <div class="offset-by-two five columns">
            <h1>
                User: Get.Name.By.ID
            </h1>
        </div>

    </content>
    <div class="row">
        <hr class="offset-by-two eight columns" />
    </div>
    <content class="row">
        <form class="offset-by-two five columns">
            Navn:<br />
            <input type="text" id="name" /><br />
            Email: <br />
            <input type="text" id="name" /><br />
            Tlf:<br />
            <input type="text" id="name" /><br />
            About:<br />
            <textarea></textarea><br />
            <input type="submit" />
        </form>
        <div class="offset-by-one four columns">
            <p>Profil Pic:</p>
            img.get.by.id<br />
            <img src="Content/IMG/facebook_no_profile_pic2-jpg.jpg" />
        </div>
    </content>
</container>