
@{
    ViewBag.Title = "Bruger";
}


    <header class="container">
        <nav class="row">
            <div class="three columns disnone">
                <a href="#"><img src="Content/IMG/logo.png" class="logo u-max-full-width" /></a>
            </div>
            <div class="six columns disnone">
                <a href="index.html">Home</a> -
                <a href="index.html">Lovgivning</a> -
                <a href="index.html">Kontakt</a>
            </div>
            <div class="three columns disnone">
                <a class="bruger" href="#">bruger</a> - <a class="bruger" href="#">log ud</a>
                <img src="Content/IMG/facebook_no_profile_pic2-jpg.jpg" class="float-right u-max-full-width facehead" />
            </div>
            <div class="five columns offset-by-four displ  ">
                <img src="Content/IMG/logomobil.png" class="logomobil logo u-max-full-width" />
            </div>
            <div class="two columns displ">
                <div class="dropdown displ">
                    <button onclick="myFunction()" class="dropbtn fa fa-2x fa-bars"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Home</a>
                        <a href="#about">Kontakt</a>
                        <a href="#contact">Lovgivning</a>
                    </div>
                </div>
            </div>
            <script>
               /* When the user clicks on the button,
               toggle between hiding and showing the dropdown content */
               function myFunction() {
                   document.getElementById("myDropdown").classList.toggle("show");
               }

               // Close the dropdown if the user clicks outside of it
               window.onclick = function (event) {
                   if (!event.target.matches('.dropbtn')) {

                       var dropdowns = document.getElementsByClassName("dropdown-content");
                       var i;
                       for (i = 0; i < dropdowns.length; i++) {
                           var openDropdown = dropdowns[i];
                           if (openDropdown.classList.contains('show')) {
                               openDropdown.classList.remove('show');
                           }
                       }
                   }
               }
            </script>
        </nav>
    </header>

    <container class="Bruger-wrapper">
        <content class="row">
            <div class="offset-by-two five columns">
                <h1>
                    User: Get.Name.By.ID
                </h1>
            </div>

        </content>
        <div class="row">
            <hr class="offset-by-two eight columns" />
        </div>
        <content class="row">
            <form class="offset-by-two five columns">
                Navn:<br />
                <input type="text" id="name" /><br />
                Email: <br />
                <input type="text" id="name" /><br />
                Tlf:<br />
                <input type="text" id="name" /><br />
                About:<br />
                <textarea></textarea><br />
                <input type="submit" />
            </form>
            <div class="offset-by-one four columns">
                <p>Profil Pic:</p>
                img.get.by.id<br />
                <img src="Content/IMG/facebook_no_profile_pic2-jpg.jpg" />
            </div>
        </content>
    </container>

