@using DGrepo
@model spotsVM
@{
    ViewBag.Title = "Index";
}



<section class="container forside">
    <div class="row">
        <div class="four columns offset-by-one intro">
            <h3> Velkommen til divers-guide</h3>
        </div>
    </div>
    <row>
        <div class="nine columns offset-by-one intro2">
            <h4>En guide til at finde bla: uv-jagt, slæbesteder, vrag, naturdyk og opfyldnings spots</h4>
        </div>
    </row>
</section>
<section class="container">
    <div id="style-selector-control" class="map-control">
        <select id="style-selector" class="selector-control">
            <option value="default">Default</option>
            <option value="retro" selected="selected">Retro</option>
            <option value="light">Light blue</option>
            <option value="street">Street</option>
            <option value="hiding">Hide features</option>
        </select>
    </div>



    <div id="map"></div>


    

    @section mapJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAlIkE6_rDBAKkBIoAeCwR_gMox5h-IB4&callback=initMap"
            async defer></script>
    </section>
<script>
    var locations = [
          @foreach (var item in Model.spots)
          {
               @:["<h3> @item.Name</h3><br /> <img src='/Content/IMG/@item.Billede'><br /><p>@item.Beskrivelse</p>", @item.Lati, @item.Long],

          }
    ];

    function initMap() {
        var infowindow = new google.maps.InfoWindow(); /* SINGLE */
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 56.13330691237569, lng: 10.755615234375 },
            zoom: 9,
            scrollwheel: false,
            mapTypeControl: false,
            mapTypeId: 'roadmap',
        });

        var styleControl = document.getElementById('style-selector-control');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(styleControl);

        // Set the map's style to the initial value of the selector.
        var styleSelector = document.getElementById('style-selector');
        map.setOptions({ styles: styles[styleSelector.value] });

        // Apply new JSON when the user selects a different style.
        styleSelector.addEventListener('change', function () {
            map.setOptions({ styles: styles[styleSelector.value] });
        });
        

        function placeMarker(loc) {
            var latLng = new google.maps.LatLng(loc[1], loc[2]);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.close(); // Close previously opened infowindow
                infowindow.setContent("<div id='infowindow'>" + loc[0] + "</div>");
                infowindow.open(map, marker);
            });
        }

        // ITERATE ALL LOCATIONS
        // Don't create functions inside for loops
        // therefore refer to a previously created function
        // and pass your iterating location as argument value:
        for (var i = 0; i < locations.length; i++) {
            placeMarker(locations[i]);
        }
        
    }
    var styles = {
        default: null,

        retro: [{ "featureType": "water", "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#808080" }, { "lightness": 54 }] }, { "featureType": "landscape.man_made", "elementType": "geometry.fill", "stylers": [{ "color": "#ece2d9" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "color": "#ccdca1" }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "poi", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }] }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }],
        light: [{ "featureType": "road", "elementType": "all", "stylers": [{ "visibility": "on" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#74abc3" }] }],
        hiding: [
          {
              featureType: 'poi.business',
              stylers: [{ visibility: 'off' }]
          },
          {
              featureType: 'transit',
              elementType: 'labels.icon',
              stylers: [{ visibility: 'off' }]
          }
        ],
    
    street: [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#e85113" }] }, { "featureType": "administrative", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }, { "weight": 6 }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "lightness": 20 }, { "color": "#efe9e4" }] }, { "featureType": "landscape", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.man_made", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "visibility": "on" }, { "color": "#f0e4d3" }] }, { "featureType": "poi", "elementType": "labels", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [{ "hue": "#11ff00" }] }, { "featureType": "poi", "elementType": "labels.text.stroke", "stylers": [{ "lightness": 100 }] }, { "featureType": "poi", "elementType": "labels.icon", "stylers": [{ "hue": "#4cff00" }, { "saturation": 58 }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "lightness": -100 }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "lightness": 100 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#efe9e4" }, { "lightness": -25 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#efe9e4" }, { "lightness": -40 }] }, { "featureType": "road.arterial", "elementType": "geometry.fill", "stylers": [{ "color": "#efe9e4" }, { "lightness": -10 }] }, { "featureType": "road.arterial", "elementType": "geometry.stroke", "stylers": [{ "color": "#efe9e4" }, { "lightness": -20 }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#19a0d8" }] }, { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{ "lightness": -100 }] }, { "featureType": "water", "elementType": "labels.text.stroke", "stylers": [{ "lightness": 100 }] }]
    };
    google.maps.event.addDomListener(window, 'load', initGoogleMap);


</script>
}