
@{
    ViewBag.Title = "Index";
}
<style>
    #map {
        height: 900px;
        width: 100%;
    }
</style>
<section class="container forside">
    <div class="row">
        <div class="four columns offset-by-one intro">
            <h3> Velkommen til divers-guide</h3>
        </div>
    </div>
    <row>
        <div class="nine columns offset-by-one intro2">
            <h4>En guide til at finde bla: uv-jagt, slæbesteder, vrag, naturdyk og opfyldnings spots</h4>
        </div>
    </row>
</section>
<div id="style-selector-control" class="map-control">
    <select id="style-selector" class="selector-control">
        <option value="default">Default</option>
        <option value="retro" selected="selected">Retro</option>
        <option value="light">Light blue</option>
        <option value="hiding">Hide features</option>
    </select>
</div>
<div id="map"></div>
<script src="~/Content/JS/JavaScriptMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw18Gwaobb2MNhMcbqOtGYodUEhdbBRZc&callback=initMap"
        async defer></script>

