
@{
    ViewBag.Title = "Kontakt";
}

<div class="container kontakt">
    <div class="row">
        <section class="offset-by-two four columns">
            <h1>Kontakt</h1>
            <div>
                <p>Henrik Obsen (Obsen)</p>
                <p>Svinget 2</p>
                <p>8570 Lyngby J</p>
                <br />
                <p>Tlf: 30 23 04 86</p>
                <p>E-mail: hto@djes.dk</p>
                <br />
                <p>obsen.softsystems.dk</p>
                www.e-train.dk<br />
                www.softsystems.dk
            </div>
            <div>
                <p>Kristoffer lindballe Sørensen (Uv-aben)</p>
                <p>Brendstrupgårdsvej 9 e st.2</p>
                <p>8200 Århus N</p>
                <br />
                <p>kristofferls@stofanet.dk</p>
            </div>
            <div>
                <p>dykker klub  plask</p>
                <p>Dykker assistance:</p>
                <p>Claus Boxall</p>
                <p>Tlf. 2759 6960</p>
                <p>c-box@hotmail.dk</p>
                www.plask-dyk.dk
            </div>
        </section>
        <section class="four columns disnone">
            <img src="IMG/Kontakt-img2.jpg" class="u-max-full-width" />
            <img src="IMG/Kontakt-img1.jpg" class="u-max-full-width" />
        </section>


    </div>
</div>
