<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="~/Content/libs/skeleton/css/skeleton.css" rel="stylesheet" />
    <link href="~/Content/libs/skeleton/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/dist/style.css" rel="stylesheet" />
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->





    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header class="container">
        <nav class="row">
            <div class="three columns disnone">
                <img src="~/Content/IMG/logo.png" alt="Logo" class="logo u-max-full-width" />
            </div>
            <div class="six columns disnone">
                <a href="/Home/Index/">Home</a> -
                <a href="#">Lovgivning</a> -
                <a href="/Home/Kontakt/">Kontakt</a>
            </div>
            <div class="three columns disnone">
                <a href="#">bruger</a> - <a href="#">log ud</a>
                <img src="~/Content/IMG/facebook_no_profile_pic2-jpg.jpg" class="float-right u-max-full-width" />
            </div>
            <div class="five columns offset-by-four displ ">
                <img src="~/Content/IMG/logomobil.png" class="logomobil logo u-max-full-width" />
            </div>
            <div class="two columns displ">
                <div class="dropdown displ">
                    <button onclick="myFunction()" class="dropbtn fa fa-2x fa-bars"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Home</a>
                        <a href="#about">Kontakt</a>
                        <a href="#contact">Lovgivning</a>
                    </div>
                </div>
            </div>
            <script>
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {

                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
        </nav>
    </header>
    @RenderBody()
    <footer class="container">
        <div class="row">
            <div class="twelve columns">
                <p>Copyright © 2016 DykkerSpots.dk</p>
            </div>
        </div>
    </footer>
    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>