<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="~/Content/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/libs/skeleton/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/libs/skeleton/css/skeleton.css" rel="stylesheet" />
    <link href="~/Content/dist/style.css" rel="stylesheet" />
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/IMG/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/IMG/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/IMG/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/IMG/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/IMG/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/IMG/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/IMG/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/IMG/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/IMG/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/IMG/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/IMG/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/IMG/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/IMG/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/IMG/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/IMG/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header class="container">
        <nav id="primary_nav_wrap" class="row">
            <div class="three columns disnone">
                <img src="~/Content/IMG/logo.png" alt="Logo" class="logo u-max-full-width" />
            </div>
            <div class="six columns disnone">
                <ul>
                    <li class="current-menu-item"><a href="/Home/Index/">Home</a></li>
                    <li>
                        <a href="#">Lovgivning</a>
                        <ul>
                            <li><a href="#">lov 1</a></li>
                            <li><a href="#">lov 2</a></li>
                            </ul>
                            </li>
                    <li class="current-menu-item"><a href="/Home/Kontakt/">kontakt</a></li>
                    </ul>
               
                            @*<a href="/Home/Index/">Home</a> -
                            <a href="#">Lovgivning</a> -
                            <a href="/Home/Kontakt/">Kontakt</a>*@
            </div>
            <div class="three columns disnone">
                <a href="#">bruger</a> - <a href="#">log ud</a>
                <img src="~/Content/IMG/facebook_no_profile_pic2-jpg.jpg" class="float-right u-max-full-width" />
            </div>
            <div class="eight columns offset-by-four displ  ">
                <img src="~/Content/IMG/logomobil.png" class="logomobil logo u-max-full-width" />
                <div class="dropdown displ menu">
                    <button onclick="myFunction()" class="dropbtn fa fa-2x fa-bars"></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Home</a>
                        <a href="#about">Kontakt</a>
                        <ul>
                            <li>
                                <a href="#contact">Lovgivning</a>
                                <ul>
                                    <li><a href="#">lov 1</a></li>
                                    <li><a href="#">lov 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {

                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
        </nav>
    </header>
    @RenderBody()
    <footer class="container">
        <div class="row">
            <div class="twelve columns">
                <p>Copyright © 2016 DykkerSpots.dk</p>
            </div>
        </div>
    </footer>
  
    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->


    @RenderSection("mapJS", required: false)
    
</body>
</html>