/*▼▼Kontakt CSS▼▼*/
.kontakt {
  margin-top: 100px;
}
.kontakt section div {
  margin-bottom: 150px;
}
.kontakt h1 {
  font-size: 24px;
  font-weight: bold;
}
.kontakt p {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}
.kontakt a {
  font-size: 24px;
}
.kontakt img:first-of-type {
  margin-bottom: 200px;
}
/*▲▲Kontakt CSS▲▲*/