@import "Variables";

*{
    
    box-sizing:border-box;
}

body {
   background-color:@BG-color;
   font-family:Verdana,Calibri;
}


/*▼▼Kontakt▼▼*/
.kontakt{
    margin-top:100px;
    section{
        div{
            margin-bottom:150px;
        }
    }

    h1{
        font-size:24px;
        font-weight:bold;
    }
    p{
        margin:0;
        font-size:24px;
        line-height:30px;
    }

    a{
        font-size:24px;
    }

    img{
        &:first-of-type{
            margin-bottom:200px;
        }
    }
}


/*▲▲Kontakt▲▲*/
